<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
  <div class="box">
<h1>Nuevo Paciente</h1>

<%= render 'form', paciente: @paciente %>

<%#= link_to 'Regresar', pacientes_path %>
</div>
</div>
</div>