<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
  <div class="box">

<h1>Nueva Clinica</h1>

<%= render 'form', clinica: @clinica %>

<%#= link_to 'Regresar', clinicas_path %>
</div>
</div>
</div>