<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
  <div class="box">
<!--><p>
  
  <%#= @clinica.id %>
</p>
</-->

<p>
  <strong>Rif:</strong>
  <%= @clinica.rif %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @clinica.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @clinica.direccion %>
</p>


<%= link_to 'Modificar', edit_clinica_path(@clinica), class:"waves-effect waves-light b"%> 
<%#= link_to 'Regresar', clinicas_path %>
</div>
</div>
</div>