<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
  <div class="box">

<h1>||Tu opción más confiable al gestionar una cirugía electiva||</h1>

<%= image_tag "TriSalud.png"%>
<p></p>
</div>
</div>
</div>

