<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
  <div class="box">
<h1>Nuevo Plan Quirúrgico</h1>

<%= render 'form', plan_quirurgico: @plan_quirurgico %>

<%= link_to 'Atrás', plan_quirurgicos_path %>
</div>
</div>
</div>
