<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
  <div class="box">

<h1>Editar Especialidad</h1>

<%= render 'form', especialidad: @especialidad %>

<%= link_to 'Ver', @especialidad, class:"waves-effect b"%> |
<%= link_to 'Regresar', especialidads_path, class:"waves-effect b"%>
</div>
</div>
</div>