<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
  <div class="box">

<p>
  <strong>Descripcion:</strong>
  <%= @especialidad.descripcion %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @especialidad.estatus %>
</p>

<%= link_to 'Modificar', edit_especialidad_path(@especialidad), class:"waves-effect waves-light b" %> 
<%#= link_to 'Regresar', especialidads_path %>
</div>
</div>
</div>