<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
  <div class="box">

<h1>Editar Medico</h1>

<%= render 'form', medico: @medico %>

<%= link_to 'Ver', @medico %> |
<%= link_to 'Regresar', medicos_path %>
</div>
</div>
</div>